<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://linkshortener20200323131033.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9d16f0fd-c932-4f7d-8d3b-77d380e88164/resourcegroups/LinkShortener/providers/Microsoft.Web/sites/LinkShortener20200323131033</ResourceId>
    <UserName>$LinkShortener20200323131033</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://linkshortener20200323131033.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>